.element__button {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/Vector_heart.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  padding-left: 40px;
  align-self: center;
  cursor: pointer;
}

.element__button:hover {
  opacity: 0.5;
}
