.popup__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
}

.popup__field:last-of-type {
  margin-bottom: 0;
}

/*
@media screen and (max-width: 767px) {
  .popup__field {
    margin-top: 27px;
  }
}
*/
